<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo" [routerLink]="'/dashboard'">
        Go Cinema
      </div>
      <div class="header__user" (click)="isOpenDropdown = !isOpenDropdown">
        <i class="fas fa-user"></i>
        <div class="dropdown" *ngIf="isOpenDropdown">
          <ul class="dropdown-navigation">
            <li class="dropdown-navigation__item" (click)="logout()">Выход</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>


<router-outlet></router-outlet>

<footer class="footer">

</footer>
