<div class="film-info">
  <div class="container">
<!--    PHOTO AND MAIN INFO-->
    <div class="top-content">
      <div class="photo-block">
        <div class="photo-block__inner">
          <img class="photo-block__img" src="assets/img/films/{{film.img}}" alt="{{film.name}}">
        </div>
      </div>
      <div class="info">
        <div class="info__name">
          {{ film.name}}
        </div>
        <div class="info__rating">
          <span>Рейтинг: </span>
          {{ film.rating | number:"1.0-2"}}
          <div class="rating">
          </div>
        </div>

        <table  class="info-table">
          <tbody>
          <tr>
            <td class="info-table__type">Жанр:</td>
            <td>{{ film.genres.join(", ")}} </td>
          </tr>
          <tr>
            <td class="info-table__type">Режиссер:</td>
            <td>{{ film.producers.join(", ")}}</td>
          </tr>
          <tr>
            <td class="info-table__type">В ролях:</td>
            <td>{{ film.actors.join(", ") }}</td>
          </tr>
          <tr>
            <td class="info-table__type">Описание:</td>
            <td>{{ film.description}} </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--    SHEDULE-->
    <div class="shedule">
      <div class="cinema" *ngFor="let cinema of cinemaList">
        <div class="cinema__name">
          <div style="vertical-align: middle">{{ cinema }}</div>
        </div>
        <div class="cinema-session">
          <div class="cinema-session__time" *ngFor="let session of getSessionList(cinema)"
               [ngClass]="{ 'cinema-session__time_disable' : disableBtnByTime(session.time) }"
               (click)="openTicketBuyPage(session)"
          >
            {{ session.time * 1000 | date:'H:mm':'UTC'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
