<div class="film-info">
  <div class="container">
<!--    PHOTO AND MAIN INFO-->
    <div *ngIf="!(filmsState$ | async).loading; else loadingBlock">
    <div class="top-content">
      <div class="photo-block">
        <div class="photo-block__inner">
          <img class="photo-block__img" src="{{(filmsState$ | async).selectedFilm?.img}}" alt="{{(filmsState$ | async).selectedFilm?.name}}">
        </div>
      </div>
      <div class="info">
        <div class="info__name">
          {{ (filmsState$ | async).selectedFilm?.name}}
        </div>
        <div class="info__rating">
          <span>Рейтинг: </span>
          {{ (filmsState$ | async).selectedFilm?.rating | number:"1.0-2"}}
          <div class="rating">
          </div>
        </div>

        <table  class="info-table">
          <tbody>
          <tr>
            <td class="info-table__type">Жанр:</td>
            <td>{{ (filmsState$ | async).selectedFilm?.genres.join(", ")}} </td>
          </tr>
          <tr>
            <td class="info-table__type">Режиссер:</td>
            <td>{{ (filmsState$ | async).selectedFilm?.producers.join(", ")}}</td>
          </tr>
          <tr>
            <td class="info-table__type">В ролях:</td>
            <td>{{ (filmsState$ | async).selectedFilm?.actors.join(", ") }}</td>
          </tr>
          <tr>
            <td class="info-table__type">Описание:</td>
            <td>{{ (filmsState$ | async).selectedFilm?.description}} </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--    SCHEDULE-->
    <div class="shedule">
      <div class="cinema" *ngFor="let cinema of (filmsState$ | async).cinemaList">
        <div class="cinema__name">
          <div style="vertical-align: middle">{{ cinema }}</div>
        </div>
        <div class="cinema-session">
          <div class="cinema-session__time" *ngFor="let session of getSessionList(cinema)"
               [ngClass]="{ 'cinema-session__time_disable' : disableBtnByTime(session.time) }"
               (click)="openTicketBuyPage(session)"
          >
            {{ session.time * 1000 | date:'H:mm':'UTC'}}
          </div>
        </div>
      </div>
    </div>
    </div>
    <ng-template #loadingBlock>
      <div class="loading">
        <div class="loading__text">Загрузка...</div>
        <div class="lds-ring loading__elem"><div></div><div></div><div></div><div></div></div>
      </div>
    </ng-template>
  </div>
</div>
