<div class="booking">
  <div class="container">
    <div class="names">
      <div class="film-name"> Фильм</div>
      <div class="cinema-name"> Кинотеатр</div>
    </div>
    <div class="hall-and-buy">
      <div class="hall">
        <div class="hall-screen"> Экран</div>
        <div class="hall-seats">
          места в зале
        </div>
        <div class="hall-input">
          <div class="hall-input__item">
            <label for="row">Ряд:</label>
            <input id="row" type="text" placeholder="0">
          </div>
          <div class="hall-input__item">
            <label for="seat">Место:</label>
            <input id="seat" type="text" placeholder="0">
          </div>
          <button class="btn"> Выбрать</button>
        </div>
      </div>
      <div class="buy">
        <div class="buy-inner">
          <div class="buy-item">
            <div class="buy-item__title"> Фильм: </div>
            <div class="buy-item__content"> Название </div>
          </div>
          <div class="buy-item">
            <div class="buy-item__title"> Сеанс: </div>
            <div class="buy-item__content"> 28 января, 13:00 </div>
          </div>
          <div class="buy-item">
            <div class="buy-item__title"> Кинотеатр: </div>
            <div class="buy-item__content"> Название Название </div>
          </div>
          <div class="buy-item">
            <div class="buy-item__title"> Места: </div>
            <div class="buy-item__content"> 0 ряд, 0,1 места </div>
          </div>
          <div class="buy-item">
            <div class="buy-item__title"> Итоговая цена: </div>
            <div class="buy-item__content"> 000 руб. </div>
          </div>
          <button class="btn buy__btn"> Купить </button>
        </div>
      </div>
    </div>
  </div>
</div>
