.booking {
  background-color: rgba(211, 211, 211, 0.51);
  min-height: 85vh;
}

.container {
}

.names {
  margin-bottom: 1rem;
  padding: 1rem;
}
.film-name {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #03406A;
}
.cinema-name {
  color: #5f616a;
  font-weight: bold;
}


.hall-and-buy {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.hall {
  width: 600px;

  &-screen {
    width: 80%;
    margin: 0 auto;
    height: 30px;
    background: rgb(48,109,164);
    background: linear-gradient(0deg, rgba(48,109,164,0) 0%, rgba(0,109,138,1) 100%);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

    text-align: center;
    color: #e5eaff;
    font-weight: bold;
  }


  &-seats {
    position: relative;
    padding: 1rem;
    margin:  2rem 0;
    text-align: center;

    &__row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      flex-wrap: nowrap;
    }

    &__platform {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 1rem;
    }

    &__place {
      display: inline-block;
      position: relative;
      margin: 1%;
      max-width: 3rem;

      background-color: #639df7;
      border: 2px solid transparent;
      border-radius: 50%;

      color: rgba(255, 255, 255, 0.5);
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      text-align: center;
      font-size: 100%;
      &::before {
        content: "";
        display: block;
        padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
      }

      & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }

      &:hover {
        color: #03406A;
        border: 2px solid #03406A;
      }

      &_selected {
        background-color: #9e85f3;
        color: #573584;
      }
      &_bought {
        background-color: #9497a3;
        color: transparent;
        &:hover {
          color: #5f616a;
          border: 2px solid transparent;
        }
      }
    }
  }
  &-input {
    display: flex;
    position: relative;
    border-top: 1px dotted #03406A;
    border-bottom: 1px dotted #03406A;
    padding: .5rem;
    justify-content: center;
    align-items: center;

    &__item {
      display: flex;
      position: relative;
      width: 20%;
      min-width: 70px;
      margin-right: 1rem;

      & label {
        font-weight: bold;
        font-size: 1rem;
        color: #03406A;
        align-self: flex-end;
        padding-bottom: .5rem;
      }
      & input {
        border: 0;
        box-sizing: border-box;
        padding: .5rem;
        color: #03406A;
        font-weight: bold;
        border-bottom: 2px solid #5f616a;
        width: 50%;
        height: 1.7rem;

        font-family: 'Nunito', sans-serif;
        display: block;
        outline: none;

        background-color: transparent;
        transition: .3s ease-out;
        &:hover {
          border-bottom: 2px solid #03406A;
        }
        &:focus {
          border-bottom: 2px solid #03406A;
        }
      }
    }
  }
}

.validation {
  position: absolute;
  color: #844a56;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: rgba(204, 139, 152, 0.95);
  bottom: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%);

  animation: popup .4s cubic-bezier(.3,1.95,.79,.97);
  animation-fill-mode: forwards;
  @keyframes popup {
    0% {
      bottom: 0;
      opacity: 0;
    }
    100% {
      bottom: 5rem;
      opacity: 1;
    }
  }
}

.btn {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .2rem .5rem;
  margin: .3rem;

  color: #fff;
  -webkit-tap-highlight-color: transparent;
  background: rgb(6, 57, 93);
  background: linear-gradient(56deg, rgba(6, 57, 93, 1) 27%, rgb(35, 77, 103) 50%, rgba(6, 57, 93, 1) 78%);
  background-size: 100% 100%;
  background-position: -40px 0;
  box-shadow: 3px 3px 6px rgba(3, 64, 106, 0.5);

  cursor: pointer;
  align-self: flex-end;

  transition: .2s ease-out;
  &:hover {
    background-position: 40px 0;
  }
  &:active {
    box-shadow: none;
  }

  &_disabled {
    background: rgba(6, 57, 93, 0.6) -140px 0;
    cursor: default;
    &:hover {
      box-shadow: 3px 3px 6px rgba(3, 64, 106, 0.5);
    }
  }
}

.buy {
  position: relative;
  flex-grow: 1;
  margin-left: 1rem;
  font-size: 1.3rem;
  border-left:  1px dotted #03406A;

  &__btn {
    display: block;
    margin: 1.5rem auto 0;
    padding: .5rem 2rem;

  }

  &-inner {
    width: 90%;
    margin: 2rem auto;
    font-weight: bold;
    color: #353637;
  }

  &-item {
    display: flex;
    &__title {
      width: 40%;
      min-width: 160px;
      font-weight: normal;
      color: #03406A;
    }
    &__content {
      position: relative;
      display: block;
      width: 60%;
    }
  }
}

.ticket-background {
  display: none;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  &_active {
    display: block;

    animation: hiddenIn .2s;
    @keyframes hiddenIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.close {
  border: none;
  font: inherit;
  background-color: transparent;
  outline: none;
  text-decoration: none;

  position: absolute;
  top: 0;
  right: 0;
  padding-right: .5rem;
  font-size: 1.3rem;
  color: #1e3e55;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.ticket {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 40%;
  left: 0;
  right: 0;

  max-width: 25rem;
  width: 100%;
  min-width: 22rem;
  margin: auto;

  box-shadow: 3px 3px 6px rgba(3, 64, 106, 0.5);
  font-family: 'Roboto', sans-serif;

  &-content {
    width: 25rem;
    background-color: #fff;
  }

  &__film-name {
    padding: 1rem;
    background-color: rgba(149, 143, 146, 0.4);
    color: #515355;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .1rem;
  }

  &-info {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    text-transform: uppercase;
    &__item {
      &-text {
        padding-top: .5rem;
        font-weight: bold;

      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    align-content: center;
    padding: 1rem 1rem .5rem 1rem;
    font-size: .8rem;

    &__item {
      align-self: center;
    }
  }

  &-control {
    display: flex;
    position: relative;
    width: 5rem;
    background-color: #2976a7;
    align-items: center;
    justify-content: center;
    border-left: 4px dashed #1e3e55;
    &__text {
      transform: rotate(90deg);
      color: #fff;
      font-weight: bold;
      font-size: 1.3rem;
      letter-spacing: .2rem;

    }
  }

}

@media(hover: none) {
  .hall-seats__place:hover {
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid transparent;
  }
}
@media(max-width: 990px){
  .hall-and-buy {
    flex-wrap: wrap;
    justify-content: center;
  }

  .buy {
    border-left: none;
    margin: 0 auto;
  }
}
@media(max-width: 575px){
  .names {
    padding: 0.5rem 0;
  }
  //.film-name {
  //  font-size: 1.5rem;
  //}
  .hall-input {
    &__item {
      width: 30%;
      margin-right: 0;
    }
  }

  .hall-input__item {
    margin-right: .5rem;
  }

  .buy-item {
    flex-wrap: wrap;
    &__title {
      width: 100%;
    }
    &__content {
      width: 100%;
      margin-bottom: .5rem;
    }
  }
}

